/*
== VARIABLES
*/
$filter             : rgba(0, 0, 0, 0.04);
$filter_three       : rgb(60 15 15 / 33%);
$filter_two         : rgb(43 39 39 / 8%);
$filter_red_two     : rgb(187 29 29 / 49%);
$danube             : #5a9bd5;
$link_water         : #d9e0f2;

