@import "./variables";

@mixin border_radius($value) {
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
}
@mixin border_bottom($value,$color) {
   border-bottom: solid $value $color;
}
@mixin border_left($value,$color) {
   border-left: solid $value $color;
}
@mixin link($color , $hover) {
    a{
        text-decoration: none;
           color: $color ;
        &:hover{
            color: $hover;
        }
    }
}
/* ---------------------------------------- */

/* ==          MEDIAS QUERIES              */

/*---------------------------------------- */
@mixin end {
    @media #{$end}{
        @content;
    }
}
@mixin responsive_550 {
    @media #{$responsive_550}{
        @content;
    }
}
@mixin responsive_700 {
    @media #{$responsive_700}{
        @content;
    }
}
@mixin responsive_900 {
    @media #{$responsive_900}{
        @content;
    }
}
@mixin responsive_lg {
    @media #{$responsive_lg}{
        @content;
    }
}
@mixin responsive_xl {
    @media #{$responsive_xl}{
        @content;
    }
}