// ERASE DEFAULT CONFIGURATION
    %body_default{
        @include end{
            display: none;
        }
    }
    %ul_default{
        list-style-type: none;
        padding: 0;
    }
    %a_default{
        text-decoration: none;
        color: inherit;
    }
    %figure_default,%paragraph_default{
        padding: 0;
        margin: 0;
    }
//USUALLY USE
    %center_items {
        display: flex;
        align-items: center;
    }
    %center_content {
        display: flex;
        justify-content: center;
    }
    %circle {
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        overflow: none;
        border-radius:50%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        -ms-border-radius:50%;
        -o-border-radius:50%;
    }
// For THIS CASE
    %title_decoration{
        padding: 7px 7px 7px 37px;
        margin:25px 0 0;
        text-transform: uppercase;
        @include border_bottom(3px,$link_water);
        position: relative;
        &::before{
            content: " ";
            @include border_left(30px,$danube);
            position: absolute;
            display: block;
            height: calc(100% + 7px);
            width: 30px;
            left: 0;
            bottom:-2px;
        }
    }
    %general_formatage{
        .this{
            @extend %title_decoration;
        }
    }