$space : 5vw;
$after_title:10px;

// RESPONSIVITY
$the_end        : 300px;
$max_550        : 550px;
$max_699        : 699px;
$max_700        : 700px;
$max_900        : 900px;
$medium_screen  : 1024px;
$large_screen   : 1280px;


$end            : "only screen and (max-width: #{$the_end})";
$responsive_550 : "only screen and (min-width: #{$max_550}) and (max-width: #{$max_699})";
$responsive_700 : "only screen and (min-width: #{$max_700})";
$responsive_900 : "only screen and (min-width: #{$max_900})";
$responsive_lg  : "only screen and (min-width: #{$medium_screen})";
$responsive_xl  : "only screen and (min-width: #{$large_screen})";