body{
    @extend %body_default;
    margin: 0;
    padding: 0;
    @include responsive_900(){
        padding: 0 5vw;
    }
    @include responsive_lg(){
        padding: 0 10vw;
    }
    @include responsive_xl(){
        padding: 0 15vw;
    }
    background-color: $link_water;
    font-family: $montserrat;
    font-size: 14px;
    & a{
        color: $danube;
        &:visited{
            color: $link_water;
            &:hover{
                color: $danube;
            }
        }
    }
}
.main_contents{
    background-color: white;
}
.contents{
    padding: 0 $space 50px;
}