/* ---------------------------------------- */
/* ==          Typographie               */
/*---------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserra:wgt@600t&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
/* ---------------------------------------- */
/* ==          COLORS CODES               */
/*---------------------------------------- */
/*
== VARIABLES
*/
/* ---------------------------------------- */
/* ==          COLORS CODES               */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==          VARIABLES CODES               */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==          MIXIN               */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==          MEDIAS QUERIES              */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==          PLACEHOLDER CODES               */
/*---------------------------------------- */
@media only screen and (max-width: 300px) {
  body {
    display: none;
  }
}

.skills .category .description {
  list-style-type: none;
  padding: 0;
}

.personnal_informations .contact a {
  text-decoration: none;
  color: inherit;
}

.skills .category .description li figure, .personnal_informations .me, .i_am_doing .since .doing {
  padding: 0;
  margin: 0;
}

.personnal_informations {
  display: flex;
  align-items: center;
}

.personnal_informations .contact {
  display: flex;
  justify-content: center;
}

.more .this, .i_am_doing .this, .skills .this {
  padding: 7px 7px 7px 37px;
  margin: 25px 0 0;
  text-transform: uppercase;
  border-bottom: solid 3px #d9e0f2;
  position: relative;
}
.more .this::before, .i_am_doing .this::before, .skills .this::before {
  content: " ";
  border-left: solid 30px #5a9bd5;
  position: absolute;
  display: block;
  height: calc(100% + 7px);
  width: 30px;
  left: 0;
  bottom: -2px;
}

/* ---------------------------------------- */
/* ==          BODY               */
/*---------------------------------------- */
body {
  margin: 0;
  padding: 0;
  background-color: #d9e0f2;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
@media only screen and (min-width: 900px) {
  body {
    padding: 0 5vw;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    padding: 0 10vw;
  }
}
@media only screen and (min-width: 1280px) {
  body {
    padding: 0 15vw;
  }
}
body a {
  color: #5a9bd5;
}
body a:visited {
  color: #d9e0f2;
}
body a:visited:hover {
  color: #5a9bd5;
}

.main_contents {
  background-color: white;
}

.contents {
  padding: 0 5vw 50px;
}

/* ---------------------------------------- */
/* ==          HEADER               */
/*---------------------------------------- */
.personnal_informations {
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  padding: 0 5vw;
  border-top: solid 30px #5a9bd5;
}
@media only screen and (min-width: 550px) and (max-width: 699px) {
  .personnal_informations {
    flex-direction: row;
  }
}
@media only screen and (min-width: 700px) {
  .personnal_informations {
    flex-direction: row;
    padding: 0 150px 0 5vw;
  }
}
.personnal_informations .me {
  text-align: center;
}
@media only screen and (min-width: 550px) and (max-width: 699px) {
  .personnal_informations .me {
    margin-right: 62px;
  }
}
@media only screen and (min-width: 700px) {
  .personnal_informations .me {
    margin-right: 20px;
  }
}
.personnal_informations .me .picture {
  text-align: center;
}
@media only screen and (min-width: 550px) and (max-width: 699px) {
  .personnal_informations .me .picture {
    position: absolute;
    display: inline-block;
    top: -30px;
    left: calc(50vw - (80px / 2));
  }
  .personnal_informations .me .picture img {
    width: 80px;
  }
}
@media only screen and (min-width: 700px) {
  .personnal_informations .me .picture {
    position: absolute;
    right: 0;
    top: 0;
  }
  .personnal_informations .me .picture img {
    width: 150px;
    height: auto;
  }
}
.personnal_informations .me .description {
  text-align: center;
}
.personnal_informations .me .description .name, .personnal_informations .me .description .function {
  padding: 0 30px 0 10px;
}
.personnal_informations .me .description .name {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-bottom: solid 3px #d9e0f2;
}
.personnal_informations .me .description .name .lastname {
  color: #5a9bd5;
}
.personnal_informations .me .description .function {
  font-size: 15px;
  margin: 10px;
}
.personnal_informations .me .description .function a {
  margin-left: 10px;
}
.personnal_informations .contact {
  flex-direction: column;
  margin-right: 10px;
  padding-bottom: 20px;
  font-style: normal;
}
@media only screen and (min-width: 550px) and (max-width: 699px) {
  .personnal_informations .contact {
    width: 250px;
  }
}
@media only screen and (min-width: 700px) {
  .personnal_informations .contact {
    width: 250px;
  }
}
.personnal_informations .contact .my_contacts {
  font-size: 15px;
}
.personnal_informations .contact a {
  display: flex;
}
.personnal_informations .contact a:visited:hover {
  color: inherit;
}
.personnal_informations .contact a.hidden {
  display: none;
}
.personnal_informations .contact a .at {
  margin-right: 10px;
}

.i_am_doing .since {
  display: flex;
  align-items: flex-start;
}
.i_am_doing .since .year {
  padding-top: 10px;
  width: 80px;
}
.i_am_doing .since .doing {
  width: calc(100% - 80px);
  padding: 10px 0 20px 10px;
  border-left: solid 3px #d9e0f2;
}
.i_am_doing .since .doing .where {
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
}

.skills {
  justify-content: space-between;
}
@media only screen and (min-width: 700px) {
  .skills {
    display: flex;
  }
}
@media only screen and (min-width: 700px) {
  .skills .category {
    width: calc((100% - 5vw) / 2);
  }
}
.skills .category .description {
  margin-top: 10px;
  font-weight: bold;
}
.skills .category .description li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.skills .category .description li .title_skills {
  width: 70%;
  padding-right: 15px;
}
.skills .category .description li figure {
  background-color: #d9e0f2;
  width: 30%;
  margin-bottom: 10px;
}
.skills .category .description li figure figcaption {
  height: 15px;
  background-color: #5a9bd5;
  color: white;
  text-align: center;
  vertical-align: middle;
  float: right;
}

.more {
  text-align: justify;
}
.more .description {
  margin-top: 10px;
}
.more .links_proofs li {
  margin: 10px 0;
}
.more .links_proofs li .css_validator {
  margin-left: 20px;
}
.more .links_proofs li .css_validator img {
  border: 0;
  height: 20px;
}

/*# sourceMappingURL=style.css.map */
