.i_am_doing{
    & .this{
        @extend %title_decoration;
    }
    & .since{
        display: flex;
        align-items: flex-start;
        & .year{
            padding-top: $after_title;
            width: 80px;
        }
        & .doing{
            width: calc(100% - 80px);
            @extend %paragraph_default;
            padding:$after_title 0 20px 10px;
            @include border_left(3px,$link_water);
            & .where{
                display: block;
                font-weight:600;
                margin-bottom: 2px;
            }
        }
    }
}