$me_picture_width : 150px;
$border_height:30px;
.personnal_informations{
    @extend %center_items;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    padding:0 $space;
    @include responsive_550(){
        flex-direction: row;
    }
    @include responsive_700(){
        flex-direction: row;
        padding:0 $me_picture_width 0 $space;
    }
    border-top: solid $border_height $danube;
    & .me{
        @extend %figure_default;
        @include responsive_550(){
            margin-right: 62px;
        }
        @include responsive_700(){
            margin-right: 20px;
        }
        text-align: center;
        & .picture{
            text-align: center;
            @include responsive_550(){
                position: absolute;
                display: inline-block;
                & img{
                    width: 80px;
                }
                top: -30px;
                left: calc(50vw - (80px / 2));
            }
            @include responsive_700(){
                position: absolute;
                right: 0;
                top: 0;
                & img{
                    width: $me_picture_width;
                    height: auto;
                }
            }
        }
        & .description{
            text-align: center;
            & .name, & .function{
                padding: 0 30px 0 10px;
            }
            & .name{
                font-size: 20px;
                padding-bottom: 10px;
                margin-bottom: 0px;
                border-bottom: solid 3px $link_water;
                & .lastname{
                    color: $danube;
                }
            }
            & .function{
                font-size: 15px;
                margin: 10px;
                & a{
                    margin-left: 10px;
                }
            }
        }
    }
    & .contact{
        @extend %center_content;
        flex-direction: column;

        margin-right: 10px;
        padding-bottom: 20px;
        font-style: normal;
        @include responsive_550(){
            width: 250px;
        }
        @include responsive_700(){
            width: 250px;
        }
        & .my_contacts{
            font-size: 15px;
        }
        & a{
            @extend %a_default;
            display: flex;
            &:visited:hover{
                color: inherit;
            }
            &.hidden{
                display: none;
            }
            & .at{
                margin-right: 10px;
            }
        }
    }
}