.more{
    text-align: justify;
    .this{
        @extend %title_decoration;
    }
    .description{
        margin-top: $after_title;
    }
    & .links_proofs {
        li{
            margin: 10px 0;
            & .css_validator{
                margin-left: 20px;
                & img{
                    border:0;
                    height:20px;
                }
            }
        }
    } 
}