.skills{
    @extend %general_formatage;
    @include responsive_700(){
        display: flex;
    }
    justify-content: space-between;
    & .category{
        @include responsive_700(){
            width: calc((100% - 5vw) / 2);
        }
        & .description{
            margin-top: $after_title;
            @extend %ul_default;
            font-weight: bold;
            & li{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                & .title_skills{
                    width: 70%;
                    padding-right: 15px;
                }
                & figure{
                    @extend %figure_default;
                    background-color: $link_water;
                    width: 30%;
                    margin-bottom: 10px;
                    & figcaption{
                        height: 15px;
                        background-color: $danube;
                        color: white;
                        text-align: center;
                        vertical-align: middle;
                        float: right;
                    }
                }
            }
        }
    }
}